:root {
	--primary: #4322A5;
	--background: #0A051B;
	--cover: #1F1A2F;
	--color: #8E8B95;
}

@font-face {
	font-family: "icon";
	font-style: normal;
	font-weight: 100 700;
	src: url("/icons.woff2") format("woff2");
}

.icon {
	font-family: "icon";
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	text-transform: none;
	display: inline;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	font-size: inherit;
}

html {
	color-scheme: light dark;
	font: 500 max(16px, 0.75vmax + 0.75vmin) / 1.5 Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-tab-size: 4;
	text-transform: none;
	tab-size: 4;
	font-feature-settings: "kern", "liga" 1, "calt" 0;
	font-variation-settings: normal;
	font-kerning: normal;
	font-synthesis: none;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	background: var(--background) radial-gradient(closest-side, var(--primary) 0.1%, var(--background) 99.9%) no-repeat 0 -125vh;
	background-size: 100% 200%;
	color: var(--color);
	overflow: hidden;
	backdrop-filter: blur(4px);
}

.responses {
	padding-block: 1rem;
	display: flex;
	flex-flow: column;
	gap: 0.5rem;
	flex-grow: 1;
	overflow-y: auto;
	position: relative;
	width: min(60ch, 95%);
	margin-inline: auto;

	&:empty::after {
		content: 'Ollama Frontend';
		position: absolute;
		inset: 0;
		display: grid;
		place-items: center;
	}
	
	.author {
		font-style: italic;
		font-size: 0.875rem;
		margin-bottom: 0.125rem;
		display: flex;
		align-items: center;
		gap: 0.25rem;

		&::before {
			content: 'robot_2';
			font-family: 'icon';
		}
	}
	
	.message {
		background: #0002;
		color: #fff;
		border: 1px solid var(--color);
		border-radius: 0.25rem;
		padding: 0.5rem 0.75rem;
		width: fit-content;
		backdrop-filter: blur(4px);
	
		p, li {
			max-width: 60ch;
			margin-bottom: 0.5em;
		}
	}
}

.request {
	.author {
		font-style: italic;
		font-size: 0.875rem;
		margin-bottom: 0.125rem;
		display: flex;
		align-items: center;
		gap: 0.25rem;

		&::before {
			content: 'person';
			font-family: 'icon';
		}
	}

	.message {
		border: 1px solid var(--color);
		border-radius: 0.25rem;
		padding: 0.25rem 0.5rem;
		background: #fff2;
		width: fit-content;
		color: #eee;
		max-width: 60ch;
	}
}

.user {
	display: flex;
	padding-inline: 0 .25rem;
	width: min(60ch, 95%);
	margin: 1rem auto;
	border-radius: 0.5rem;
	background: var(--cover);
	backdrop-filter: blur(4px);
	box-shadow: 0 -1rem 1rem 0.5rem var(--background);

	.models {
		display: grid;
		place-items: center;
		position: relative;
		margin: 0.25rem;

		&::after {
			content: 'lists';
			font-family: 'icon';
			position: absolute;
			inset: 0;
			display: grid;
			place-items: center;
			background: var(--cover);
			outline: 1px solid var(--color);
			color: #fff;
			font-size: 1.125rem;
			line-height: 0;
			pointer-events: none;
			border-radius: 0.25rem;
		}

		select {
			max-width: 2rem;
		}
	}

	input {
		&[type="text"] {
			flex-grow: 1;
			background: var(--cover);
			border: unset;
			padding: 0.5rem;
			font-size: 0.875rem;
		
			&:focus-within {
				outline: unset;
			}
		}

		&[type="submit"] {
			appearance: none;
			font-family: 'icon';
			border: unset;
			font-size: 1.25rem;
			background: unset;

			&:disabled {
				animation: loading 500ms linear infinite;
			}
		}
	}
	
	.input-wrapper {
		display: flex;
		align-items: center;
		border-radius: 0.125rem;
		background: var(--primary);
		border-radius: 0.25rem;
		margin-block: 0.25rem;
	}
}

@keyframes loading {
	from {rotate: unset;}
	to {rotate: 360deg;}
}